[project]
	description = Sample Locker applicaiton
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/narendrachoudhary
[access "refs/for/refs/*"]
	read = group user/narendrachoudhary
	push = group user/narendrachoudhary
	label-Code-Review = -2..+2 group user/narendrachoudhary
	label-Verified = -1..+1 group user/narendrachoudhary
	rebase = group user/narendrachoudhary
	removeReviewer = group user/narendrachoudhary
	submit = group user/narendrachoudhary
[access "refs/heads/*"]
	read = group user/narendrachoudhary
	create = group user/narendrachoudhary
	push = +force group user/narendrachoudhary
	pushMerge = group user/narendrachoudhary
[access "refs/tags/*"]
	push = group user/narendrachoudhary
	push = +force group user/narendrachoudhary
